/* ==========================================================================
   Base styles
   ========================================================================== */

/* We define two important font-related things here:
    1. font-size is set to 1rem, which ensures the user's preferred font size
    2. line-height is set to 1.5rem, defining the basic size of our baseline grid.
        Every vertical spacing (line-height, margin/padding top/bottom) must be
        set to a multiple of this. We stay with rem here because px is not flexible
        enough and calculating em gets really ugly, particularly for headings 
*/
html {
    color: black;
    font-size: 1em;
    line-height: 1.5rem; /* determined via golden ratio, see http://www.pearsonified.com/typography/ */
}


/* STUPID FLEXBOXLAYOUT FIXES. BOO  */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* ==========================================================================
   Base typography
   ========================================================================== */

/* Again, some important typography-things here:
    1. font-size is set to the golden ratio, see http://type-scale.com/
    2. As discussed, things like margin and line-height must be set to a multiple
       of the original line-height to adhere to the baseline grid. Although we
       have a line-height of 1.5rem, we can use multiples of 0.75rem and still
       have a nice vertical rythm. See https://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/
*/
h1 {
    font-size: 2.618rem; 
    line-height: 3rem;

    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    max-width: 30em; /* gives us ~70 CPL (characters per line) */

    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Important here: Contrast ratio between text color and bg color adheres to W3C
    accessibility standards and is at least 4.5 -- see http://leaverou.github.io/contrast-ratio
*/
/* This defines a basic block. Multiple of those are chained below each other to
    make up our one pager. Some important styles are defined here that adhere
    to every block. Some things (like padding) can be overwritten by subblock classes:
    1. background color must be defined here to ensure it spans the entire window width
    2. padding top and bottom are defined here - these paddings will also be filled
        with the bg color and therefore be perceived as part of the block. Also, these
        padding surround the entire block content, including heading and other things.
*/
.block {
    background-color: rgb(160, 100, 100); 

    padding-top: 4.5rem;
    padding-bottom: 3rem;
}

/*@media (max-width: 768px) {
    .block {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
}*/

/* Defines the heading that most blocks have.
    TODO: Figure out if this is the right way to do it. This way, we could combine
    a block heading with h1, h2 etc. But shouldn't a block heading always be the
    same height? Then, a block-heading should be a div, not a h */
.block-heading {
    text-align: center;
}

/* We define the actual content width here. We can not do that anywhere higher in
    the hierarchy because we want the background of the blocks to span the entire
    width of the window, but the actual content to be limited in width
*/
.block-content {
    max-width: 1000px; 
    margin: 0 auto;
    /*margin-top: 3rem;*/
}

@media (max-width: 768px) {
    .block-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}